* {
    list-style-type: none;
}
.search {
    margin-bottom: 50px;
    padding-top: 10px;
}
.search button {
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: #6552f4;
    color: #e0e0e0;
    cursor: pointer;
}
.search input {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 13px;
    font-size: 1rem;
    background-color: #e0e0e0;
}
.search input:focus {
    outline: none;
}

.details {
   padding-top: 40px;
   width: 500px;
}
.details h1, h2, h3, h4 {
    border: 1px solid #6552f4;
    padding-left: 10px;
}
.details h1 {
    color: #6552f4;
}
.details h2 {
    color: #6552f4;
    padding-top: 10px;
}
.details h3 {
    color: #ffff;
    padding-top: 10px;
}

