.header {
    align-items: center;
    background-color: #303030;
    padding: 10px 20px;
    margin-top: 30px;
    margin-bottom: 80px;
    border-radius: 10px;
    text-align: center;
}
.header p {
    text-decoration: none;
    /* color: #6552f4; */
    font-weight: 600;
    font-size: 1.1rem; 
}
.footer {
    text-align: center;
    background-color:#303030;
    padding: 20px;
    margin-top: 80px;
    border-radius: 10px;
}
.footer p {
    font-weight: 600;
    font-size: 1.1rem; 
}